# RStudio session and temporary files
.Rproj.user/
.Rhistory
.RData
.RDataTmp*
.Ruserdata

# Data and generated outputs
01_raw_data/
02_processed_data/

# Local credentials
.env
.env.*
.Renviron

# Windows files
Thumbs.db
Desktop.ini

# Temporary ESTIMATE input files
/04_results/immune/estimate_temp/

# Temporary ESTIMATE input files
/04_results/immune/estimate_temp/
